<div class="reviews d-flex js--reviews">
    <div class="review-like js--review">
        {{> _images/ok}}
    </div>
    <div class="review-dislike js--review">
        {{> _images/ok}}
    </div>
</div>