{{> _structure/head
    title="Страница магазина"
    keywords="Страница магазина"
    description="Страница магазина"
}}

{{> _layout/header/header}}
<main>
    <div class="container">
        <div class="mt-3 mt-md-4 pt-md-4">
             {{> slider/slider}}
        </div>
        <div class="mt-3 mt-md-5">
            <h2 class="pb-md-1">Лучшие промокоды</h2>
        </div>
        <div class="row shops shops-best d-flex flex-wrap mt-3 mt-md-4 w-100 js--shop">
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                 {{> promocodes/card-best images="./assets/img/aliexpress.png" title="Купоны AliExpress на скидку от $2 до $5"}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/aliexpress.png" title="Купоны на скидку до 15% на электронику"}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/aliexpress.png" title="Купоны AliExpress на скидку от $2 до $5"}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/aliexpress.png" title="Купоны на скидку до 15% на электронику"}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/mvideo.png" title="Промокод МВидео на 500 руб."}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/eldorado.png" title="Black Friday в Эльдорадо: скидки до 50%"}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/gap.svg" title="МегаSale! До 50% скидки на лучшие бренды!%"}}
            </div>
            <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item ps-0 pe-0">
                {{> promocodes/card-best images="./assets/img/bonprix.svg" title="Промокод-сюрприз за подписку BonPrix"}}
            </div>
        </div>
        <div class="mt-3 mt-md-5">
            <h2>Все магазины</h2>
        </div>
        <div class="mt-3 mt-md-4 pt-md-1">
            {{> shops/shop-link}}
        </div>
        <div class="mt-md-5">
            {{> shops/shop-list}}
        </div>
    </div>
    {{> app-overlay/overlay}}
    {{> breadcrumbs/breadcrumbs}}
</main>

{{> _layout/footer/footer}}



{{> _structure/script }}