<div class="stars d-flex mt-3">
    <div class="me-1">
        {{> star/star width="100%"}}
    </div>
    <div class="me-1">
        {{> star/star width="100%"}}
    </div>
    <div class="me-1">
        {{> star/star width="100%"}}
    </div>
    <div class="me-1">
        {{> star/star width="100%"}}
    </div>
    <div>
        {{> star/star width="50%"}}
    </div>
    <p class="text-primary color-dark font-weight ms-2">4,5</p>
</div>