<div class="subs d-flex justify-content-between align-items-center w-100">
    <div class="w-100">
        <p class="text-large color-secondary">Подпишитесь на нашу рассылку
            <span class="d-block"></span>
            и получите доступ к эксклюзивным
            <span class="d-block"></span>скидкам и промокодам</p>
        <form class="mt-2 mt-sm-3 w-100">
            <div class="input-wrapper d-flex flex-column flex-sm-row w-100">
                <input type="email" placeholder="Введите ваш e-mail">
                <button class="btn btn-green mt-2 mt-sm-0" type="submit">Подписаться</button>
            </div>
        </form>
    </div>
    <div class="subs-image d-none d-sm-flex flex-shrink">
        {{> _images/sub}}
    </div>
</div>
