<div class="promocode-card best-card d-flex flex-column align-items-center w-100" data-show-modal="overlay-discount" data-modal-promo>
    <div class="best-card__image w-100 d-flex justify-content-center align-items-center">
        <img src="{{images}}" alt="">
    </div>
    <p class="text-large promocode-card__title pe-2 text-center mt-1 mt-md-3">{{title}}</p>
    <div class="promocode-card__button d-flex flex-shrink">
        <button class="btn btn-orange btn-promo mt-2 mt-md-3">
            Показать промокод
            {{> _images/btn}}
        </button>
    </div>
</div>