<div class="promocodes w-100 js--filter">
    <div class="d-flex align-items-center justify-content-between">
        <div class="promocodes-filter d-flex align-items-center">
            <p class="active text-primary color-secondary d-flex justify-content-center js--filter-btn" data-filter="all">Все <span>4</span></p>
            <p class="text-primary color-secondary d-flex justify-content-center js--filter-btn" data-filter="promo">Промокоды <span>2</span></p>
            <p class="text-primary color-secondary d-flex justify-content-center js--filter-btn" data-filter="stock">Акции <span>2</span></p>
        </div>
        <p class="d-none d-sm-inline">4 актуальных предложения на июнь 2023</p>
    </div>
    <div class="promocodes-wrap pt-sm-3 mt-3 mt-sm-0">
        <div class="promocodes-row mt-sm-2 js--filter-content" data-filter="promo">
            {{> promocodes/card-promocode discont="25%" title="Сток скидки/флеш-скидки до 25% на модные платья, туфли и сумки" detail=true}}
        </div>
        <div class="promocodes-row mt-sm-2 js--filter-content" data-filter="promo">
            {{> promocodes/card-promocode discont="20%" title="Экстра дисконт 25% на платья из аутлета" }}
        </div>
        <div class="promocodes-row mt-sm-2 js--filter-content" data-filter="stock">
            {{> promocodes/card-promotion discont="80%" title="Скидка 1000 руб. в магазине ASOS"}}
        </div>
        <div class="promocodes-row mt-sm-2 js--filter-content" data-filter="stock">
            {{> promocodes/card-promotion discont="60%" title="Минус до 60% на все товары в Черную Пятницу"}}
        </div>
    </div>

</div>