:root {
    --color-primary-text: #58595B;
    --color-secondary: #505256;
    --color-dark:  #1C1C1C;
    --color-light: #C8C8C8;
    --color-green: #5EBC52;
    --color-green-dark: #4CA042;
    --color-grey: #DBDBDB;
    --color-grey-secondary: #A0A0A0;
    --color-border: #DB9319;
    --color-orange: #D48B0C;
}






