<div class="header-input input-datalist w-100 d-flex align-items-center position-relative">
    <div class="header-input__search svg-block d-none d-md-flex">
        {{> _images/search}}
    </div>
    <div class="position-relative w-100 js--input-datalist">
        <input type="text" placeholder="Введите название магазина, например: velosite.ru, Ноу-хау, Lamoda" id="custom-select-input" class="select-css w-100">
        {{> _layout/header/search-list}}
    </div>
    <button class="btn btn-green h-100">Найти</button>
</div>