<ul class="input-datalist__list ps-1 pe-1 pt-1 pb-1 d-none">
    <li class="text-primary color-dark">adidas</li>
    <li class="text-primary color-dark">aravia</li>
    <li class="text-primary color-dark">ash</li>
    <li class="text-primary color-dark">avon</li>
    <li class="text-primary color-dark">amway</li>
    <li class="text-primary color-dark">apple</li>
</ul>
