<tr class="">
    <td class="coupons-table--col">
        <div class="coupons-table__content">
            {{#if promo}}
                <p class="promocode-prompt font-little">Промокод</p>
            {{else}}
                <p class="promotion-prompt font-little mt-tb-1">Акция</p>
            {{/if}}
        </div>
    </td>
    <td class="coupons-table--col">
        <div class="coupons-table__content">
            <p class="color-secondary font-weight">{{text}}</p>
        </div>
    </td>
    <td class="coupons-table--col">
        <div class="coupons-table__content">
            <p class="color-secondary">Истекает 16 января 2023</p>
        </div>
    </td>
</tr>