<div class="coupons-table">
    <table class="w-100">
        <thead class="w-100">
            <tr class="w-100">
                <th class="coupons-table--col coupons-table__title"><p class="text-primary font-medium color-secondary">Тип купона</p></th>
                <th class="coupons-table--col coupons-table__title"><p class="text-primary font-medium color-secondary">Описание</p></th>
                <th class="coupons-table--col coupons-table__title"><p class="text-primary font-medium color-secondary">Дата окончания</p></th>
            </tr>
        </thead>
        <tbody>
            {{> coupons/coupons-row text="Скидка в 1000 рублей на покупки WQW" promo=true}}
            {{> coupons/coupons-row text="До 60% скидки на новинки брендовой женской одежды"}}
            {{> coupons/coupons-row text="Модная брендовая женская обувь UGG и Lost Ink всего от 3000 руб."}}
            {{> coupons/coupons-row text="Стильные кроссовки Adidas, New Balance, Reebok, Nike со скидкой до 50%"}}
            {{> coupons/coupons-row text="Стильные одежда для мужчин: скидки до 50%"}}
        </tbody>
    </table>
</div>