<div class="breadcrumbs mt-3 mt-md-4 pt-md-3">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap">
            <a href="/" class="color-secondary">Главная</a>
            <div class="ps-md-1 ms-1 pe-md-1 me-1">
                {{> _images/arr}}
            </div>
            <a href="/" class="color-secondary">Промокоды Lamoda на июнь 2023</a>
        </div>
    </div>
</div>