<div class="shop-link">
    <div class="d-flex flex-wrap">
        <a href="#_shopItemNumber" class="color-secondary text-primary d-flex" data-scroll-time="0">0-9</a>
        <a href="#_shopItemA" class="color-secondary text-primary d-flex" data-scroll-time="0">A</a>
        <a href="#_shopItemB" class="color-secondary text-primary d-flex" data-scroll-time="0">B</a>
        <a href="#_shopItemC" class="color-secondary text-primary d-flex" data-scroll-time="0">C</a>
        <a href="#_shopItemD" class="color-secondary text-primary d-flex" data-scroll-time="0">D</a>
        <a href="#_shopItemE" class="color-secondary text-primary d-flex" data-scroll-time="0">E</a>
        <a href="#_shopItemF" class="color-secondary text-primary d-flex" data-scroll-time="0">F</a>
        <a href="#_shopItemG" class="color-secondary text-primary d-flex" data-scroll-time="0">G</a>
        <a href="#_shopItemH" class="color-secondary text-primary d-flex" data-scroll-time="0">H</a>
        <a href="#_shopItemI" class="color-secondary text-primary d-flex" data-scroll-time="0">I</a>
        <a href="#_shopItemJ" class="color-secondary text-primary d-flex" data-scroll-time="0">J</a>
        <a href="#_shopItemK" class="color-secondary text-primary d-flex" data-scroll-time="0">K</a>
        <a href="#_shopItemL" class="color-secondary text-primary d-flex" data-scroll-time="0">L</a>
        <a href="#_shopItemM" class="color-secondary text-primary d-flex" data-scroll-time="0">M</a>
        <a href="#_shopItemN" class="color-secondary text-primary d-flex" data-scroll-time="0">N</a>
        <a href="#_shopItemO" class="color-secondary text-primary d-flex" data-scroll-time="0">O</a>
        <a href="#_shopItemP" class="color-secondary text-primary d-flex" data-scroll-time="0">P</a>
        <a href="#_shopItemQ" class="color-secondary text-primary d-flex" data-scroll-time="0">Q</a>
        <a href="#_shopItemR" class="color-secondary text-primary d-flex" data-scroll-time="0">R</a>
        <a href="#_shopItemS" class="color-secondary text-primary d-flex" data-scroll-time="0">S</a>
        <a href="#_shopItemT" class="color-secondary text-primary d-flex" data-scroll-time="0">T</a>
        <a href="#_shopItemU" class="color-secondary text-primary d-flex" data-scroll-time="0">U</a>
        <a href="#_shopItemV" class="color-secondary text-primary d-flex" data-scroll-time="0">V</a>
        <a href="#_shopItemW" class="color-secondary text-primary d-flex" data-scroll-time="0">W</a>
        <a href="#_shopItemX" class="color-secondary text-primary d-flex" data-scroll-time="0">X</a>
        <a href="#_shopItemY" class="color-secondary text-primary d-flex" data-scroll-time="0">Y</a>
        <a href="#_shopItemZ" class="color-secondary text-primary d-flex" data-scroll-time="0">Z</a>
    </div>
    <div class="d-flex flex-wrap">
        <a href="#_shopItemR_1" class="color-secondary text-primary d-flex" data-scroll-time="0">а</a>
        <a href="#_shopItemR_2" class="color-secondary text-primary d-flex" data-scroll-time="0">б</a>
        <a href="#_shopItemR_3" class="color-secondary text-primary d-flex" data-scroll-time="0">в</a>
        <a href="#_shopItemR_4" class="color-secondary text-primary d-flex" data-scroll-time="0">г</a>
        <a href="#_shopItemR_5" class="color-secondary text-primary d-flex" data-scroll-time="0">д</a>
        <a href="#_shopItemR_6" class="color-secondary text-primary d-flex" data-scroll-time="0">е</a>
        <a href="#_shopItemR_7" class="color-secondary text-primary d-flex" data-scroll-time="0">ё</a>
        <a href="#_shopItemR_8" class="color-secondary text-primary d-flex" data-scroll-time="0">ж</a>
        <a href="#_shopItemR_9" class="color-secondary text-primary d-flex" data-scroll-time="0">з</a>
        <a href="#_shopItemR_10" class="color-secondary text-primary d-flex" data-scroll-time="0">и</a>
        <a href="#_shopItemR_11" class="color-secondary text-primary d-flex" data-scroll-time="0">й</a>
        <a href="#_shopItemR_12" class="color-secondary text-primary d-flex" data-scroll-time="0">к</a>
        <a href="#_shopItemR_13" class="color-secondary text-primary d-flex" data-scroll-time="0">л</a>
        <a href="#_shopItemR_14" class="color-secondary text-primary d-flex" data-scroll-time="0">м</a>
        <a href="#_shopItemR_15" class="color-secondary text-primary d-flex" data-scroll-time="0">н</a>
        <a href="#_shopItemR_16" class="color-secondary text-primary d-flex" data-scroll-time="0">о</a>
        <a href="#_shopItemR_17" class="color-secondary text-primary d-flex" data-scroll-time="0">п</a>
        <a href="#_shopItemR_18" class="color-secondary text-primary d-flex" data-scroll-time="0">р</a>
        <a href="#_shopItemR_19" class="color-secondary text-primary d-flex" data-scroll-time="0">с</a>
        <a href="#_shopItemR_20" class="color-secondary text-primary d-flex" data-scroll-time="0">т</a>
        <a href="#_shopItemR_21" class="color-secondary text-primary d-flex" data-scroll-time="0">у</a>
        <a href="#_shopItemR_22" class="color-secondary text-primary d-flex" data-scroll-time="0">ф</a>
        <a href="#_shopItemR_23" class="color-secondary text-primary d-flex" data-scroll-time="0">х</a>
        <a href="#_shopItemR_24" class="color-secondary text-primary d-flex" data-scroll-time="0">ц</a>
        <a href="#_shopItemR_25" class="color-secondary text-primary d-flex" data-scroll-time="0">ч</a>
        <a href="#_shopItemR_26" class="color-secondary text-primary d-flex" data-scroll-time="0">ш</a>
        <a href="#_shopItemR_27" class="color-secondary text-primary d-flex" data-scroll-time="0">щ</a>
        <a href="#_shopItemR_28" class="color-secondary text-primary d-flex" data-scroll-time="0">ъ</a>
        <a href="#_shopItemR_29" class="color-secondary text-primary d-flex" data-scroll-time="0">ы</a>
        <a href="#_shopItemR_30" class="color-secondary text-primary d-flex" data-scroll-time="0">ь</a>
        <a href="#_shopItemR_31" class="color-secondary text-primary d-flex" data-scroll-time="0">э</a>
        <a href="#_shopItemR_32" class="color-secondary text-primary d-flex" data-scroll-time="0">ю</a>
        <a href="#_shopItemR_33" class="color-secondary text-primary d-flex" data-scroll-time="0">я</a>
    </div>
</div>