<h3 id="{{shopid}}" class="mt-4 shop-tem__title">{{title}}</h3>
<div class="row shops d-flex flex-wrap mt-4 w-100 js--shop">
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/tea.png" title="101 чай"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/123.png" title="123.ru"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/1c.png" title="1С Интерес"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/360.png" title="360 Total Securityй"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/element.png" title="5 Элемент"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/5lb.png" title="5LB"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/21vek.png" title="21 Век"}}
    </div>
    <div class="col-6 col-md-4 col-tb-3 shop-col justify-content-center js--shop-item">
        {{> promocodes/card-shop images="./assets/img/minoxidil.png" title="Миноксидил"}}
    </div>
</div>