<div class="shop-link">
    <div class="d-flex flex-wrap">
        <a href="#_shopItemNumber" class="color-secondary text-primary d-flex">0-9</a>
        <a href="#_shopItemA" class="color-secondary text-primary d-flex">A</a>
        <a href="#_shopItemB" class="color-secondary text-primary d-flex">B</a>
        <a href="#_shopItemC" class="color-secondary text-primary d-flex">C</a>
        <a href="#_shopItemD" class="color-secondary text-primary d-flex">D</a>
        <a href="#_shopItemE" class="color-secondary text-primary d-flex">E</a>
        <a href="#_shopItemF" class="color-secondary text-primary d-flex">F</a>
        <a href="#_shopItemG" class="color-secondary text-primary d-flex">G</a>
        <a href="#_shopItemH" class="color-secondary text-primary d-flex">H</a>
        <a href="#_shopItemI" class="color-secondary text-primary d-flex">I</a>
        <a href="#_shopItemJ" class="color-secondary text-primary d-flex">J</a>
        <a href="#_shopItemK" class="color-secondary text-primary d-flex">K</a>
        <a href="#_shopItemL" class="color-secondary text-primary d-flex">L</a>
        <a href="#_shopItemM" class="color-secondary text-primary d-flex">M</a>
        <a href="#_shopItemN" class="color-secondary text-primary d-flex">N</a>
        <a href="#_shopItemO" class="color-secondary text-primary d-flex">O</a>
        <a href="#_shopItemP" class="color-secondary text-primary d-flex">P</a>
        <a href="#_shopItemQ" class="color-secondary text-primary d-flex">Q</a>
        <a href="#_shopItemR" class="color-secondary text-primary d-flex">R</a>
        <a href="#_shopItemS" class="color-secondary text-primary d-flex">S</a>
        <a href="#_shopItemT" class="color-secondary text-primary d-flex">T</a>
        <a href="#_shopItemU" class="color-secondary text-primary d-flex">U</a>
        <a href="#_shopItemV" class="color-secondary text-primary d-flex">V</a>
        <a href="#_shopItemW" class="color-secondary text-primary d-flex">W</a>
        <a href="#_shopItemX" class="color-secondary text-primary d-flex">X</a>
        <a href="#_shopItemY" class="color-secondary text-primary d-flex">Y</a>
        <a href="#_shopItemZ" class="color-secondary text-primary d-flex">Z</a>
    </div>
    <div class="d-flex flex-wrap">
        <a href="#_shopItemR_1" class="color-secondary text-primary d-flex">а</a>
        <a href="#_shopItemR_2" class="color-secondary text-primary d-flex">б</a>
        <a href="#_shopItemR_3" class="color-secondary text-primary d-flex">в</a>
        <a href="#_shopItemR_4" class="color-secondary text-primary d-flex">г</a>
        <a href="#_shopItemR_5" class="color-secondary text-primary d-flex">д</a>
        <a href="#_shopItemR_6" class="color-secondary text-primary d-flex">е</a>
        <a href="#_shopItemR_7" class="color-secondary text-primary d-flex">ё</a>
        <a href="#_shopItemR_8" class="color-secondary text-primary d-flex">ж</a>
        <a href="#_shopItemR_9" class="color-secondary text-primary d-flex">з</a>
        <a href="#_shopItemR_10" class="color-secondary text-primary d-flex">и</a>
        <a href="#_shopItemR_11" class="color-secondary text-primary d-flex">й</a>
        <a href="#_shopItemR_12" class="color-secondary text-primary d-flex">к</a>
        <a href="#_shopItemR_13" class="color-secondary text-primary d-flex">л</a>
        <a href="#_shopItemR_14" class="color-secondary text-primary d-flex">м</a>
        <a href="#_shopItemR_15" class="color-secondary text-primary d-flex">н</a>
        <a href="#_shopItemR_16" class="color-secondary text-primary d-flex">о</a>
        <a href="#_shopItemR_17" class="color-secondary text-primary d-flex">п</a>
        <a href="#_shopItemR_18" class="color-secondary text-primary d-flex">р</a>
        <a href="#_shopItemR_19" class="color-secondary text-primary d-flex">с</a>
        <a href="#_shopItemR_20" class="color-secondary text-primary d-flex">т</a>
        <a href="#_shopItemR_21" class="color-secondary text-primary d-flex">у</a>
        <a href="#_shopItemR_22" class="color-secondary text-primary d-flex">ф</a>
        <a href="#_shopItemR_23" class="color-secondary text-primary d-flex">х</a>
        <a href="#_shopItemR_24" class="color-secondary text-primary d-flex">ц</a>
        <a href="#_shopItemR_25" class="color-secondary text-primary d-flex">ч</a>
        <a href="#_shopItemR_26" class="color-secondary text-primary d-flex">ш</a>
        <a href="#_shopItemR_27" class="color-secondary text-primary d-flex">щ</a>
        <a href="#_shopItemR_28" class="color-secondary text-primary d-flex">ъ</a>
        <a href="#_shopItemR_29" class="color-secondary text-primary d-flex">ы</a>
        <a href="#_shopItemR_30" class="color-secondary text-primary d-flex">ь</a>
        <a href="#_shopItemR_31" class="color-secondary text-primary d-flex">э</a>
        <a href="#_shopItemR_32" class="color-secondary text-primary d-flex">ю</a>
        <a href="#_shopItemR_33" class="color-secondary text-primary d-flex">я</a>
    </div>
</div>