<div class="shop-slider position-relative w-100">
    <div class="shop-swiper w-100 h-100">
        <div class="swiper-wrapper position-relative d-flex align-items-cente h-100">
            <div class="swiper-slide position-relative w-100 h-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
            <div class="swiper-slide position-relative w-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
            <div class="swiper-slide position-relative w-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
            <div class="swiper-slide position-relative w-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
            <div class="swiper-slide position-relative w-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
            <div class="swiper-slide position-relative w-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
            <div class="swiper-slide position-relative w-100">
                <div class="w-100 h-100 d-flex flex-column justify-content-center swiper-slide-bg" style="background:url('./assets/img/slider.png') no-repeat bottom / cover">
                    <p class="color-white">Только на 5Post</p>
                    <p class="color-white shop-slider__title mt-1 pt-1">Промокоды и акции от известных брендов</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-slider__pagination swiper-pagination w-100 justify-content-center d-none d-md-flex"></div>
    <div class="shop-slider__navigation d-flex justify-content-between w-100">
        <div class="swiper-button-prev ms-3 d-flex align-items-center justify-content-center">
            {{> _images/arrow}}
        </div>
        <div class="swiper-button-next me-3 d-flex align-items-center justify-content-center">
            {{> _images/arrow}}
        </div>
    </div>
</div>